In [27]:
import numpy as np
import pandas as pd
from IPython.display import display

fem_height_norm = [67,70,63,65,68,60,70,64,69,61,66,65,71,62,66,68,64,67,62,66,65,63,66,65,63,69,62,67,59,66,65,63,65,60,67,64,68,61,69,65,62,67,70,64,63,68,65,61,66]
fem_marriage_skewright = [31,43,30,30,38,26,29,55,46,26,29,57,34,34,36,40,28,26,66,63,30,33,24,35,34,40,24,29,24,27,35,33,75,38,34,85,29,40,41,35,26,34,19,23,28,26,31,25,22,28]
age_death_skewleft=[102,55,70,95,73,79,60,73,89,85,72,92,76,93,76,97,10,70,85,25,83,58,10,92,82,87,104,75,80,66,93,90,84,73,98,79,35,71,90,71,63,58,82,72,93,44,65,77,81,77]
cont_softdrinks_uniform=[12.1,12.1,12.4,12.1,12.1,12.2,12.2,12.2,11.9,12.2,12.3,12.3,11.7,12.3,12.3,12.4,12.4,12.1,12.4,12.4,12.5,11.8,12.5,12.5,12.5,11.6,11.6,12.0,11.6,11.6,11.7,12.3,11.7,11.7,11.7,11.8,12.5,11.8,11.8,11.8,11.9,11.9,11.9,12.2,11.9,12.0,11.9,12.0,12.0,12.0]

# Number 1

In [28]:

norm_m1=np.mean(fem_height_norm)
norm_m2=np.mean(np.array(fem_height_norm)**2)
norm_m3=np.mean(np.array(fem_height_norm)**3)
norm_m4=np.mean(np.array(fem_height_norm)**4)

skewright_m1=np.mean(fem_marriage_skewright)
skewright_m2=np.mean(np.array(fem_marriage_skewright)**2)
skewright_m3=np.mean(np.array(fem_marriage_skewright)**3)
skewright_m4=np.mean(np.array(fem_marriage_skewright)**4)

skewleft_m1=np.mean(age_death_skewleft)
skewleft_m2=np.mean(np.array(age_death_skewleft)**2)
skewleft_m3=np.mean(np.array(age_death_skewleft)**3)
skewleft_m4=np.mean(np.array(age_death_skewleft)**4)

uniform_m1=np.mean(cont_softdrinks_uniform)
uniform_m2=np.mean(np.array(cont_softdrinks_uniform)**2)
uniform_m3=np.mean(np.array(cont_softdrinks_uniform)**3)
uniform_m4=np.mean(np.array(cont_softdrinks_uniform)**4)

data = {
    'First Moment': [norm_m1, skewright_m1, skewleft_m1, uniform_m1],
    'Second Moment': [norm_m2, skewright_m2, skewleft_m2, uniform_m2],
    'Third Moment': [norm_m3, skewright_m3, skewleft_m3, uniform_m3],
    'Fourth Moment': [norm_m4, skewright_m4, skewleft_m4, uniform_m4]
}

df_moments = pd.DataFrame(data, index=['Normal', 'Skew-right', 'Skew-left', 'Uniform'])

display(df_moments)

            First Moment  Second Moment   Third Moment  Fourth Moment
Normal         65.142857    4252.040816  278089.836735   1.822309e+07
Skew-right     35.480000    1437.720000   68292.440000   3.797594e+06
Skew-left      74.200000    5925.400000  489458.800000   4.139616e+07
Uniform        12.056000     145.426000    1755.157760   2.119459e+04

# Number 2

In [37]:

norm_m1_2 = np.mean(fem_height_norm)
norm_m2_2 = np.var(fem_height_norm) 
norm_m3_2 = np.mean((fem_height_norm - norm_m1_2)**3)
norm_m4_2 = np.mean((fem_height_norm - norm_m1_2)**4)


data_2 = {
    'First Moment': [norm_m1_2],
    'Second Moment': [norm_m2_2],
    'Third Moment': [norm_m3_2],
    'Fourth Moment': [norm_m4_2]
}

df_moments = pd.DataFrame(data_2, index=['Normal'])

display(df_moments)

        First Moment  Second Moment  Third Moment  Fourth Moment
Normal         65.62         5.1156     -0.373344       60.47951

# Number 3

In [39]:

m1_75 = np.mean(np.array(fem_height_norm)-75)                   
m2_75 = np.mean((np.array(fem_height_norm)-75)**2)              
m3_75 = np.mean((np.array(fem_height_norm)-75)**3)               
m4_75 = np.mean((np.array(fem_height_norm)-75)**4)                

data_75 = {
    'Moment about 75': ['First Moment', 'Second Moment', 'Third Moment', 'Fourth Moment'],
    'Values': [m1_75, m2_75, m3_75, m4_75]
}

df_moments_75 = pd.DataFrame(data_75)

display(df_moments_75)

  Moment about 75    Values
0    First Moment     -9.38
1   Second Moment     93.10
2    Third Moment   -969.62
3   Fourth Moment  10516.30

# Number 4

In [42]:

m2_verify = m2_75-m1_75**2
m3_verify = m3_75 - 3*m1_75*m2_75 + 2*(m1_75**3)
m4_verify = m4_75 - 4*m1_75*m3_75 + 6*(m1_75**2)*m2_75 - 3*(m1_75**4)


print("\nVerification:")
print(f"Verified m2: {m2_verify}")
print(f"Verified m3: {m3_verify}")
print(f"Verified m4: {m4_verify}")

print("With this, m2,m3 & m4 is the same as the moments from number 2. Therefore, the relations between the moments are verified")

Verification:
Verified m2: 5.115599999999986
Verified m3: -0.373344000000543
Verified m4: 60.4795099199946
With this, m2,m3 & m4 is the same as the moments from number 2. Therefore, the relations between the moments are verified